# Byte-code ve Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Dağıtım / Paketleme
build/
dist/
*.egg-info/
sdist/
wheel/
*.tar.gz
*.zip

# Sanal Ortam (Virtual Environment)
# Muhtemelen 5000 dosyanın çoğu buradan geliyordu
.venv/
venv/
ENV/
env/

# Test ve Raporlama
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/

# Editör ve IDE'ye özel dosyalar
.idea/
.vscode/
*.swp

# Buildozer'a özel dosyalar
.buildozer/
# bin/ klasörü zaten burada görmezden geliniyor
bin/
libs/




/algomind/UI/


/buildozer.spec
/.python-version
/main.py
/algomind/data/database.py
